.footerScreen {
  position: relative;
  height: 70vh;
  min-height: 640px;
  overflow: hidden;
  .mask {
    width: 100%;
    height: 100%;
    min-height: 640px;
    height: 70vh;
    background-color: var(--main-background);
    filter: opacity(70%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
  }
  .container {
    width: 100%;
    height: 100%;
    min-height: 640px;
    height: 70vh;
    z-index: 30;
    .content {
      margin: 10% auto 10%;
      width: 50%;
      h1 {
        font-size: 3.5rem;
        color: var(--main-text-color);
        line-height: 4rem;
        font-weight: bolder;
      }
      h2 {
        border-style: solid;
        padding: 5px;
        border-radius: 10px;
        color: var(--main-text-color);
        text-align: center;
      }
    }
  }

  .background {
    top: 0;
    left: 0;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
  }
}
.footer {
  height: 100px;
  background-color: var(--sub-background);
  display: flex;
  align-items: center;
  .footerContainer {
    width: 50%;
    margin: auto auto;
    display: flex;
    align-items: center;
    .footerText {
      color: var(--menu-text-color);
      flex: 1;
      text-align: center;
    }
  }
}
@media screen and (max-width: 480px) {
  .footer {
    height: 100px;
    background-color: var(--sub-background);
    display: flex;
    align-items: center;
    .footerContainer {
      width: 90%;
      margin: auto auto;
      display: flex;
      align-items: center;
      .footerText {
        color: var(--menu-text-color);
        flex: 1;
        text-align: center;
      }
    }
  }
}
