$skillHeight: calc(100vh + 150px);

.skillScreen {
  position: relative;
  position: relative;
  height: $skillHeight;
  padding-top: 350px;

  .content {
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    .title {
      text-align: center;
      color: white;
      .main {
        font-size: 2.5rem;
        line-height: 1.5rem;
        letter-spacing: 12.5px;
        font-weight: bolder;
      }
      .sub {
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: var(--menu-text-active);
      }
    }
  }
  .skills {
    width: 640px;
    margin: 0 auto;
    .skill {
      .skillMain {
        display: flex;
        margin: 9px 0px;
        height: 36px;
        .skillName {
          display: flex;
          align-items: center;
          flex: 1;
          text-align: left;
          font-size: 12px;
          color: var(--menu-text-active);
          cursor: pointer;
          transition: color 300ms;
        }

        .skillChar {
          flex: 4;
          display: flex;
          align-items: center;
          span {
            margin-left: 20px;
            color: var(--menu-text-active);
          }
        }
      }
      .skillDetail {
        transition: height 0.3s, opacity 0.3s ease-in-out 0.3s;
        height: 0px;
        opacity: 0;
        overflow: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .skill:hover {
      .skillMain {
        .skillName {
          color: var(--sub-color);
        }
        .chatView {
          background-color: var(--sub-color-active) !important;
        }
      }
      .skillDetail {
        opacity: 1;
        height: 50px;
      }
    }
  }
  .background {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: $skillHeight;
    background-size: cover;
    filter: blur(5px);
  }
  // .mask {
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: $skillHeight;
  //   position: absolute;
  //   background-color: var(--main-background);
  //   filter: opacity(70%);
  // }
}
@media screen and (max-width: 480px) {
  .skillScreen {
    padding-top: 235px;
    .content {
      .title {
        margin-bottom: 30px;
        .main {
          font-size: 1.5rem;
          line-height: 1rem;
          letter-spacing: 3px;
          font-weight: bolder;
        }
        .sub {
          font-size: 0.75rem;
          letter-spacing: 3px;
        }
      }
    }
    .skills {
      min-width: 0px;
      width: 300px;
      .skill {
        .skillDetail {
          justify-content: flex-start;
        }
      }
    }
    .background {
      background-position-x: -475px;
    }
  }
}
