.logoArea {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  cursor: pointer;
  .logo {
    color: var(--sub-color);
    font-weight: bolder;
    font-size: larger;
    border-style: double;
    border-color: var(--sub-color);
    padding: 10px 5px;
    margin: 0 auto;
    line-height: initial;
  }
}
@media screen and (max-width: 480px) {
  .logoArea {
    width: 120px;
    .logo {
      font-size: 12px;
      padding: 5px 5px;
    }
  }
}
