.introduceCard {
  background-color: var(--sub-background);
  position: absolute;
  top: 100px;
  left: calc(50% - max(min(30%, 820px), 250px) / 2);
  width: 30%;
  min-width: 500px;
  max-width: 820px;
  height: 300px;
  box-shadow: 0 0 15px black;
  z-index: 10;
  padding-top: 3%;

  transition: opacity 1s;
  .content {
    color: var(--main-text-color);
    h1 {
      text-align: center;
      color: var(--main-text-color);
      margin-bottom: 50px;
    }
    .text {
      margin: auto;
      width: 500px;
      line-height: 2.5rem;
      font-size: 15px;
      overflow-wrap: break-word;
      text-align: center;
      color: var(--menu-text-color);
    }
  }
}
@media screen and (max-width: 480px) {
  .introduceCard {
    left: calc(50% - max(min(30%, 820px), 300px) / 2);
    width: 30%;
    min-width: 300px;
    max-width: 820px;
    .content {
      .text {
        width: 300px;
      }
    }
  }
}
